/* media query for medium devices or tablet */
@media screen and (min-width: 576px) and (max-width:992px) {
    /* navbar */
    .navbar{
        width: 95%;
        margin-top: 52px;
    }
    .nav-title{
        font-size: 2rem;
    }
    .nav-links{
        font-size: 1rem;
    }
    .nav-links-container{
        gap: 5px;
    }
    .banner{
        margin-right: 20%;
        flex-direction: column;
        align-items: center;
    }
    .banner-img{
        margin-top: 48px;
        margin-left: 149px;
    }
    .workout-videos{
        margin-left: 190px;
        margin-top: -530px;

    }
    .video-tutorial{
        margin-left: -30px;
        margin-top: 238px;
        padding-left: 17px;
    }

    /* section-1 */
    .banner-content{
        max-width: 476px;
    }
    .habbits{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    /* section-2 */
    .section-2{
        height: 400px;
        width: 686px;
    }
    .run-content{
        width: 35%;
        height: 306px;
    }
    .run-title{
        font-size: 2.25rem;
        margin-bottom: 14px;
    }
    .run-img{
        width: 256px;
        height: 319px;
        border-radius: 18px;
        /* overflow: hidden;
        border: 1px solid black;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ; */
    }
    .run-img img{
        width: 100%;
        background-size: cover;
        scale: 4;
        position: relative;
        left: -135px;
        top: 140px;
    }
}



/* media query for small devices or mobile */
@media screen and (max-width: 576px) {


    .hamburger{
        display: block;
    }
    .nav-links-container{
        display: none;
    }
    .navbar{
        width: 90%;
        margin-top: 52px;
    }
    .nav-title{
        font-size: 1.8rem;
    }
    .banner{
        margin-right: 0;
        /* margin-left: 50%;
        margin-right: 50%; */
        /* margin-right: 5000px; */
        /* margin-left: 0; */
        flex-direction: column;
        align-items: start;
    }
    .banner-content{
        
        align-items: start;
    }
    .banner-title{
        font-weight: 800;
        font-size: 2.25rem;
        color: white;
        line-height: 120%;
    }
    .banner-word-shape{
        font-weight: normal;
        font-size: 5rem;
    
    }
    .banner-description{
        width: 274px;
        font-weight: normal;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.5);
    }
    .banner-btn{
        width: 352px;
        height: 54px;
        justify-content: space-between;
    
    }
    .banner-img{
        width: 100%;
        margin: 48px 20px;
    }
    .btn-primary, .btn-secondary{
        width: 169px;
    }
    .workout-videos{
        width: 145px;
        height: 74px;
        margin-left: 200px;
        margin-top: -565px;

    }
    .video-tutorial{
        width: 155px;
        height: 72px;
        margin-left: -73px;
        margin-top: 138px;
        padding-left: 17px;
    }
    .five-hundred-plus{
        font-weight: 800;
        font-size: 1.89rem;
        color: white;
    }
    .free-workout-videos{
        font-weight: normal;
        font-size: 0.6125rem;
        color: rgba(255, 255, 255, 0.5);
    }
    .three-fifty-plus{
        font-weight: 800;
        font-size: 1.125rem;
        color: white;
    }
    .video-turial{
        font-weight: normal;
        font-size: 0.75rem;
        color: rgba(255, 255, 255, 0.5);
    }
    .banner-play-btn{
        margin-left: -124px;
    }
    /* body{
        min-height: 100vh;
        width: 100vh;
        overflow-x: hidden;
    } */

    /* section-1 */
    .section-1{
        padding-top: 200px;
    }
    .banner-content{
        max-width: 318px;
    }
    .habbit-title{
        font-size: 2rem;
    }
    .habbit-description{
        min-width: 300px;
        line-height: 24px;
        letter-spacing: 0.3px;
    }
    .habbits{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    /* section-2 */
    .section-2{
        flex-direction: column;
        align-items: center;
        height: 531px;
    }
    .run-content{
        width: 287px;
        height: 264px;
        margin-left: 10px;
    }
    .run-title{
        font-size: 2rem;
        margin-bottom: 14px;
    }
    .section-2-btn{
        width: 100%;
    }
    .run-img{
        width: 287px;
        height: 170px;
        border-radius: 18px;
        /* overflow: hidden;
        border: 1px solid black;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ; */
    }
    .run-img img{
        width: 100%;
        background-size: cover;
        scale: 1;
        position: relative;
        left: 0px;
        top: 0px;
    }
}


