*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* fonts */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
.miama-normal{
    font-family: 'Miama', sans-serif;
}

/* colors */
.orange-01{
    color: rgba(230, 83, 60, 1);
}
/* bg-colors */
.orange-02{
    background-color: rgba(230, 83, 60, 1);
}

/* shared styles */
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}
.btn-primary{
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 42px;
    color: white;
    background-color: rgba(230, 83, 60, 1);
    font-weight: 500;
    font-size: 1.25rem;
}
.btn-secondary{
    width: 224px;
    height: 54px;
    border: 1px solid white;
    border-radius: 42px;
    color: white;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.25rem;
}
/* HEADER BEGINS HERE */
.header{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.904),rgba(0, 0, 0, 0.904),black);
    border: 0.00001px solid black;
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    width: calc(((1060/1440)*100%));
    margin: 0 auto;
    margin-top: 57px;
}
.nav-navigations ul{
    list-style: none;
}
.nav-navigations{
    align-items: center;
}
.nav-links{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: normal;
}
.home:hover{
    padding: 8px 20px;
    border-radius: 39px;
    background-color: rgba(230, 83, 60, 1);
}
.service:hover{
    padding: 8px 20px;
    border-radius: 39px;
    background-color: rgba(230, 83, 60, 1);
}
.contact:hover{
    padding: 8px 20px;
    border-radius: 39px;
    background-color: rgba(230, 83, 60, 1);
}
.about:hover{
    padding: 8px 20px;
    border-radius: 39px;
    background-color: rgba(230, 83, 60, 1);
}
.home, .service, .contact, .about{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-title{
    font-style: italic;
    font-weight: 800;
    font-size: 2.25rem;
}
.nav-links-container{
    gap: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 11px 3px;

}
.hamburger{
    display: none;
}

/* banner styles */
.banner{
    width: calc(((1060/1440)*100%));
    gap: 25%;
    margin: 130px calc(((214/1440)*100%)) calc(((76/1440)*100%)) calc(((190/1440)*100%));
}
.banner-content{
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 28px;
}
.banner-title{
    font-weight: 800;
    font-size: 4.875rem;
    color: white;
    line-height: 120%;
}
.banner-word-shape{
    font-weight: normal;
    font-size: 9.7rem;

}
.banner-description{
    width: 520px;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
.banner-btn{
    width: 462px;
    height: 54px;
    justify-content: space-between;

}
.banner-img{
    width: 100%;
    /* width: 353px;
    height: 588px; */
    margin-top: -80px;
}
.imgs-2{
    /* width: 100%; */
}
/* under banner image */
.workout-videos{
    width: 173px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin-left: 230px;
    margin-top: -455px;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
}
.video-tutorial{
    width: 186px;
    height: 96px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin-left: -113px;
    margin-top: 198px;
    padding-left: 24px;
    align-items: center;
    gap: 12px;
}

.orange-circle{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1);
}
.banner-play-btn{
    margin-top: 2px;
    margin-left: -148px;
}
.five-hundred-plus{
    font-weight: 800;
    font-size: 2.5rem;
    color: white;
}
.free-workout-videos{
    font-weight: normal;
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.5);
}
.three-fifty-plus{
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
}
.video-turial{
    font-weight: normal;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}


/* main sections styles */
main{
    background-color: black;
    color: white;
    /* margin-top: 200px; :--> this should be for sections */
}

/* section-1 under main */
.section-1{
    width: calc(((1060/1440)*100%));
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.habbits{
    grid-template-columns: repeat(4, 1fr);


    /* justify-content: center; */
    /* gap: 2%; */
}
.habbit-content{
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 58px;
}
.habbit-title {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 14px;
}
.habbit-description{
    
    font-weight: normal;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
    letter-spacing: 0.5px;
}
.habbits-img{
    border: 4px solid rgb(47, 46, 46);
    border-radius: 50%;
    margin-bottom: 24px;
}
.habbit-examples{
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.habbit-examples h4{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
}
.habbit-examples p{
    width: 70%;
    font-weight: normal;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
}

/* section-2 */
.section-2{
    width: calc(((1060/1440)*100%));
    background-color: rgba(34, 34, 34, 1);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    margin: 0 auto;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}
.run-content{
    width: 35%;
    margin-left: 54px;
}
.run-title, .section-3-title, .section-4-title{
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 14px;
}
.run-description, .section-3-description, .section-4-description, .bmi-calculator-p, .bmi-chart-table td{
    
    font-weight: normal;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 14px;
    margin-bottom: 34px;
}
.run-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.run-img img{
    width: 100%;
    background-size: cover;
    scale: 3;
    position: relative;
    left: -150px;
    top: 125px;
}

/* section-3 */
.section-3{
    width: calc(((1060/1440)*100%));
    margin: 0 auto;
    margin-top: 100px;
}
.section-3-content{
    width: 60%;
    margin-bottom: 58px;
}

.img-1{
    width: 323px;
    height: 201.5px;
    background-image: url(../images/exercise1.jpg) ;
    background-size: cover;
    font-weight: 500;
    font-size: 0.875rem;
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;
}
#img-1{
    margin: 157px 50px 27.5px 24px ;
    color: black;
}
#img-2{
    margin: 15px 213px 153px 31px;
    color: black;
    
}
#img-3{
    margin: 146px 87px 21.5px 27px;
    color: rgb(255, 255, 255);
}
#img-4{
    margin: 25px 0 142px 249px ;
    color: rgb(255, 255, 255);
}
#img-5{
    margin: 154px 78px 13px 34px;
    color: rgb(255, 255, 255);
}
#img-6{
    margin: 149px 142px 0px 25px ;
    color: black;
}
.img-2{
    width: 520px;
    height: 201.5px;
    background-image: url(../images/exercise2.png);
    background-size: cover;
    background-position-y: -20px;
    font-weight: 500;
    font-size: 0.875rem;
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
}
.img-3{
    width: 388px;
    height: 201.5px;
    background-image: url(../images/exercise3.png);
    background-size: cover;
    font-weight: 300;
    font-size: 0.875rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.img-4{
    width: 425px;
    height: 201.5px;
    background-image: url(../images/exercise4.png);
    background-size: cover;
    font-weight: 300;
    font-size: 0.875rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.img-5{
    width: 408px;
    height: 201.5px;
    background-image: url(../images/exercise5.jpg);
    background-size: cover;
    font-weight: 300;
    font-size: 0.875rem;
    background-color: rgba(66, 255, 0, 0.3);
    background-blend-mode: overlay;
}
.img-6{
    width: 376px;
    height: 201.5px;
    background-image: url(../images/exercise6.jpg);
    background-size: cover;
    font-weight: 500;
    font-size: 0.875rem;
    background-color: rgba(0, 71, 255, 0.3);
    background-blend-mode: overlay;
}
.run-description{
    
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-bottom: 34px;
}

/* section-4 */
.bmi-calculator-title{
    width: 671px;
    margin: 88px auto;
}

/* section-5 */
.section-5{
    max-width: 100vw;
    background-color: rgba(34, 34, 34, 1);
    margin: 88px auto;
}
.bmi-container {
    width: calc(((1060/1440)*100%));
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 175px;
    margin: 52px 189px;

}

.bmi-chart,
.bmi-calculator {
    width: 100%;
    border-radius: 8px;
    padding: 20px;
}

.bmi-chart h1,
.bmi-calculator h1 {
    font-weight: 800;
    font-size: 1.75rem;
    margin-top: 28px;
    margin-bottom: 14px;
}

.bmi-chart-table {
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    margin-top: 52px;
    margin-bottom: 133px;

}
.bmi-chart th{
    font-weight: 400;
    font-size: 1rem;
}
.bmi-chart th,
.bmi-chart td {
    padding: 10px;
    border: 1px solid rgba(66, 66, 66, 0.881);
    text-align: left;
}
.bmi-calculator-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    gap: 12px;
}

input[type="text"], select {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-size: 0.875rem;
}
select option {
    color: black;
    background-color: rgba(230, 83, 60, 1);
}
.calculator-btn{
    margin-top: 22px;
}
