*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* fonts */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
.miama-normal{
    font-family: 'Miama', sans-serif;
}

/* colors */
.orange-01{
    color: rgba(230, 83, 60, 1);
}
/* bg-colors */
.orange-02{
    background-color: rgba(230, 83, 60, 1);
}

/* shared styles */
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}
.btn-primary{
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 42px;
    color: white;
    background-color: rgba(230, 83, 60, 1);
    font-weight: 500;
    font-size: 1.25rem;
}
.btn-secondary{
    width: 224px;
    height: 54px;
    border: 1px solid white;
    border-radius: 42px;
    color: white;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.25rem;
}
/* HEADER BEGINS HERE */
.header{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.904),rgba(0, 0, 0, 0.904),black);
    border: 0.00001px solid black;
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    width: calc(((1060/1440)*100%));
    margin: 0 auto;
    margin-top: 57px;
}
.nav-navigations ul{
    list-style: none;
}
.nav-navigations{
    align-items: center;
}
.nav-links{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: normal;
}
.home:hover{
    padding: 8px 20px;
    border-radius: 39px;
    background-color: rgba(230, 83, 60, 1);
}
.service:hover{
    padding: 8px 20px;
    border-radius: 39px;
    background-color: rgba(230, 83, 60, 1);
}
.contact:hover{
    padding: 8px 20px;
    border-radius: 39px;
    background-color: rgba(230, 83, 60, 1);
}
.about:hover{
    padding: 8px 20px;
    border-radius: 39px;
    background-color: rgba(230, 83, 60, 1);
}
.home, .service, .contact, .about{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-title{
    font-style: italic;
    font-weight: 800;
    font-size: 2.25rem;
}
.nav-links-container{
    gap: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 11px 3px;

}
.hamburger{
    display: none;
}

/* banner styles */
.banner{
    width: calc(((1060/1440)*100%));
    gap: 25%;
    margin: 130px calc(((214/1440)*100%)) calc(((76/1440)*100%)) calc(((190/1440)*100%));
}
.banner-content{
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 28px;
}
.banner-title{
    font-weight: 800;
    font-size: 4.875rem;
    color: white;
    line-height: 120%;
}
.banner-word-shape{
    font-weight: normal;
    font-size: 9.7rem;

}
.banner-description{
    width: 520px;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
.banner-btn{
    width: 462px;
    height: 54px;
    justify-content: space-between;

}
.banner-img{
    width: 100%;
    /* width: 353px;
    height: 588px; */
    margin-top: -80px;
}
.imgs-2{
    /* width: 100%; */
}
/* under banner image */
.workout-videos{
    width: 173px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin-left: 230px;
    margin-top: -455px;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
}
.video-tutorial{
    width: 186px;
    height: 96px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin-left: -113px;
    margin-top: 198px;
    padding-left: 24px;
    align-items: center;
    gap: 12px;
}

.orange-circle{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1);
}
.banner-play-btn{
    margin-top: 2px;
    margin-left: -148px;
}
.five-hundred-plus{
    font-weight: 800;
    font-size: 2.5rem;
    color: white;
}
.free-workout-videos{
    font-weight: normal;
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.5);
}
.three-fifty-plus{
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
}
.video-turial{
    font-weight: normal;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}


/* main sections styles */
main{
    background-color: black;
    color: white;
    /* margin-top: 200px; :--> this should be for sections */
}

/* section-1 under main */
.section-1{
    width: calc(((1060/1440)*100%));
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.habbits{
    grid-template-columns: repeat(4, 1fr);


    /* justify-content: center; */
    /* gap: 2%; */
}
.habbit-content{
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 58px;
}
.habbit-title{
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 14px;
}
.habbit-description{
    
    font-weight: normal;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
    letter-spacing: 0.5px;
}
.habbits-img{
    border: 4px solid rgb(47, 46, 46);
    border-radius: 50%;
    margin-bottom: 24px;
}
.habbit-examples{
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.habbit-examples h4{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
}
.habbit-examples p{
    width: 70%;
    font-weight: normal;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
}

/* section-2 */
.section-2{
    width: calc(((1060/1440)*100%));
    background-color: rgba(34, 34, 34, 1);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    margin: 0 auto;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}
.run-content{
    width: 35%;
    margin-left: 54px;
}
.run-title{
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 14px;
}
.run-description{
    
    font-weight: normal;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 14px;
    margin-bottom: 34px;
}
.run-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.run-img img{
    width: 100%;
    background-size: cover;
    scale: 3;
    position: relative;
    left: -150px;
    top: 125px;
}